:root {
  --container-width: 120rem;
  --container-padding: 1.5rem;

  --font-main: 'Inter', sans-serif;
  --font-accent: 'PT Mono', monospace;

  --page-bg: #fff4f1;
  --light: #ffffff;
  --text-color: #040000;
  --text-accent: #000072;
  --accent: rgb(176, 162, 215);
  --accent-bright: #ae88dd;
  --accent-dark: #7a6aa8;
  --accent-light: #feb16c;
  --unactive-bg: #8e8fb3;
  --unactive-light-bg: #e2e2ea;
  --unactive-text: #5c5b5b;
}
